

.panel{
  padding: .2rem .2rem 0;
  font-size: medium;
  form{
    padding-top: .4rem;
    input{
      border: .01rem solid #999999;
      outline: none;
      height: .7rem;
      width: 100%;
      margin-top: .4rem;
      box-sizing: border-box;
      padding-left: .20rem;
      line-height: .42rem;
      border-radius: .05rem;
      &#sex{
        height: .3rem;
        width: 20%;
        font-size: medium;
      }
    }
  }

}