html{
  font-size: 100px;
}
.main{
  background-color: #ccc;
  width: 100%;
  position: fixed;
  padding-top: .8rem;
  top: -0.8rem;
  bottom: .9rem;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 1rem;
  .logo{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:0.9rem;
    background:#fff url("../../images/loading1.gif") center center no-repeat;
    background-size:1rem  ;
  }
}