.list-type-one{
  .list-tab2{
    border-top: .04rem solid #ccc;
    border-bottom: .01rem solid #ccc;
    font-size: .22rem;
    display: flex;
    height: .8rem;
    a{
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #000;
      margin: .15rem;
    }
    a.active{
      border: 1px solid #3a9be8;
      border-radius: .4rem;
      background-color: #3a9be8;
      color: #fff;
    }
  }
}