.swiper{
  color: #bcbcbc;
  .swiper-name{
    background-color: #f8f8f8;
    .swiper-tel{
      font-size: 0.3rem;
      text-align: center;
    }
    .swiper-content{
      color: #838383;
      text-align: center;
      font-size: 0.4rem;
    }
    .swiper-time{
      padding-right:0.2rem ;
      text-align: right;
      font-size: 0.3rem;
    }
  }
}