.all{
  background-color: #f0f0f0;
  position: fixed;
  top:.8rem;
  .order{
     width: 100%;
     font-size: medium;
     height: 2.7rem;
     margin: .2rem auto;
    background-color: #fff;
    .top{

      .icon{
        float: right;
        width: 90%;
        line-height: .8rem;
        font-size: .3rem;
        border-bottom: .001rem solid #dcdcdc ;
        img{
          width: .8rem;
          margin-top:.09rem ;
          vertical-align: middle;
        }
      }
      span{
        float: right;
        margin-right: .3rem;
        color: #00dbf5;
      }
    }
    .middle{
      width: 100%;

      .line{
        float: right;
        width: 90%;
        border-bottom: .001rem solid #dcdcdc ;
        margin: .15rem 0;
        .number{
          line-height: .5rem;
        }
        .time{
          line-height: .5rem;
          margin-bottom: .15rem;
        }
      }
    }
    .bottom{
      width: 90%;
      float: right;
    }
  }
}