.nav-header{
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 120px;
  text-align: center;
  background-color: #3a9be8;
  color: #fff;
  font-size: 40px;
  i{
    position: absolute;
    left: 10px;
  }
  i.iconfont{
    font-size: 50px;
  }
}