*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
html{
  font-size:100px;
  font-family: 'sans-serif';
  color: #555;
}
body{
  width: 100%;
  height: 100%;
  font-size: .26rem;
}
img,video{
  width: 100%;
}