.home-clean {
  background-color: #fff;
  .clean {
    width: 100%;
    text-align: center;
    font-size: 0.21rem;
    color: #ccc;
    line-height: .6rem;
  }
  .home-title{
    display:flex;
    .clean-title{
      border: 1px solid #ccc;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center;
      .title{
        font-weight: 100;
        color: #000;
        display: inline-block;
        font-size: small;
        padding: 0.25rem 0;
      }
      .title-ground{
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}